body{
    margin: 0px;
}

.firstcontainer {
   background-color: #E4F9F5;
   padding: 20px;


}

h1 {
    margin-top: 0;
    display: inline-block;
}
p{
    display: inline-block;
}

.topContainer{
    width: 200px;
    height: 200px;
    background-color: red;
  
}

.middleContainer{
    width: 200px;
    height: 200px;
    background-color: blue;
}   

